@import "./utils/variables";
@import "./utils/mixins";
@import "./base/base";
@import "./layouts/header";
@import "./layouts/footer";

/*CITY*/
    .map{
    @include flex_row();
    height:50px;
    background-color:#eaeaea;   


     i{
        color:#353535;
        display:inline-flex;
        align-items:center;
        cursor:pointer;
        width:35px;
        height:35px;
     
        }
    span{
        font-family: $main-ffamily;
        font-size: 17px;
        font-weight: 600;
        color:#353535;
        justify-content: center;
    }
}

/*SECTION HERO*/
    .hero{
        display:block;
        background-color:$background-block-section;
        text-align: center;
        h2{
            font-family: $main-ffamily;
            font-size:24px; 
            font-weight:800;
            text-align:center;
            padding:35px;
            letter-spacing: 0;
            padding-bottom: 0;
            margin:0;
        }

        p{
            text-align: center;
            font-family:$main-ffamily;
            font-size: 16px;
            font-weight: 300;
            margin:15px;
           
        }

        button{
            @include grad-button();
            @include grad-button-purple();
            margin-bottom: 60px;
            
        }
        }

     /*SECTION STEPS*/
    .steps{
    @include flex-column();
    align-items: center;

        h2{
            @include h2_font();
            align-self: start;
            margin:30px;
        }
        ol{
    @include flex-column();
    gap:15px;
            
            .btn-menu{
      
            .btn1{
                    @include btn-steps;
                 }
        }

        .btn3{
        @include btn-steps;
            margin-bottom: 30px;
        }

        span{
        background-color: #f6f6f6;
        color:#191919
                }
                }
    }
}

    /*SECTION RESTAURANTS*/
    .restaurants{
        @include flex-column();
        background-color: $background-block-section;
        align-content: center;
        gap:40px;
        h2{
            @include h2_font();
            align-self: start;
        }

        .palette{
            @include flex_row();
            @include size_block();

           #palettegout_img {
            @include img();
            }

            .descriptif_palette{
            @include descriptif-block();
            h3{
                @include h3_font();
            }

            span{
                @include span-restaurants();
            }
            }
        }
        
        .note{
            @include flex_row();
            @include size_block();
    
            #note_img {
            @include img();
            
            }
    
            .descriptif_note{
            @include descriptif-block();

            h3{
                @include h3_font();
            }

            span{
                @include span-restaurants();
            }
            }
                }
        .française{
            @include flex_row();
            @include size_block();
            
            #française_img {
            @include img();
            }

        .descriptif_française{
        @include descriptif-block();

        h3{
            @include h3_font();
        }

        span{
            @include span-restaurants();
        }
        }
                    }
        .delice{
            @include flex_row();
            @include size_block();
            margin-bottom: 90px;
            
            #delicesens_img {
            @include img()
            }

        .descriptif_delice{
        @include descriptif-block();
        
        h3{
            @include h3_font();
        }

        span{
            @include span-restaurants();
        }
        }
    }
    }

