
header{
    position:relative;
    display:flex;
    justify-content: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    width:100%;

        h1 {
    font-family: "Shrikhand", cursive;
    font-size: 28px;
    font-weight: bold;
    margin:5px;
             }
    }