* {
  box-sizing: border-box;
}

html, body {
  margin: auto;
  position: relative;
}

.wrapper-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  width: 100%;
  justify-items: center;
  gap: 2em;
  justify-content: center;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 100%;
}
header h1 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: bold;
  margin: 5px;
}

/*SECTION FOOTER*/
footer {
  display: flex;
  position: absolute;
  width: 100%;
  flex-flow: column wrap;
  justify-content: flex-start;
  background-color: #353535;
  color: white;
  padding: 30px;
}
footer p {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  margin: 2px;
  padding-bottom: 10px;
}
footer a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  line-height: 25px;
}

/*BACKGROUND*/
.main {
  background-color: #f6f6f6;
}

.block-image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
.block-image #img-menu {
  height: 260px;
  width: 100%;
  object-fit: cover;
}
.block-image #img-menu {
  object-position: top;
}

.plats-btns {
  background-color: #f6f6f6;
  margin-top: 0;
  border-radius: 50px 50px 0 0;
  position: relative;
  margin-top: 210px;
}
.plats-btns h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  padding-left: 20px;
  padding-top: 30px;
}
.plats-btns h3 {
  font-weight: 100;
  padding-left: 15px;
  width: 200px;
  position: relative;
  z-index: 1;
}
.plats-btns .btn-menu {
  font: 14px/2.3em trebuchet, arial;
  color: #353535;
  text-shadow: 0 1px 0 #fff;
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 15px 15px;
  width: 320px;
  margin: 3px auto 5px;
  border: 1px solid #ddd;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  -moz-box-shadow: 0 3px 5px #ccc;
  -webkit-box-shadow: 0 3px 5px #ccc;
  -o-box-shadow: 0 3px 5px #ccc;
  -ms-box-shadow: 0 3px 5px #ccc;
  box-shadow: 0 3px 5px #ccc;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background-color: white;
  height: 65px;
  padding-top: 30px;
  transition: 0.2s;
  margin-bottom: 15px;
  width: 350px;
}
.plats-btns .btn-menu .text-menu {
  flex-flow: column wrap;
  line-height: 10px;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.plats-btns .btn-menu .text-menu h4 {
  font-size: 18px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  letter-spacing: -1px;
  margin: 0;
  text-align: left;
}
.plats-btns .btn-menu .text-menu .descriptif-menu {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 100%;
}
.plats-btns .btn-menu .text-menu .descriptif-menu p {
  font-weight: bold;
}
.plats-btns .btn-menu:last-child {
  margin-bottom: 0px;
}

.wrapper-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  width: 100%;
  justify-items: center;
  gap: 2em;
  justify-content: center;
}

.btn-cmder {
  background-color: #f6f6f6;
  text-align: center;
}
.btn-cmder .Commander {
  background: #E78FE1;
  background: -moz-linear-gradient(top, #E78FE1 0%, #C065DB 80%, #A35BDC 100%);
  background: -webkit-linear-gradient(top, #E78FE1 0%, #C065DB 80%, #A35BDC 100%);
  background: linear-gradient(to bottom, #E78FE1 0%, #C065DB 80%, #A35BDC 100%);
  border: none;
  margin: 20px;
  padding: 18px 15px 18px 15px;
  width: 210px;
  font-family: "Roboto", sans-serif;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  margin-top: 50px;
  margin-bottom: 80px;
}

/*# sourceMappingURL=menu1.css.map */
